<link rel="stylesheet" href="/css/style.css">

<nav>
    <a id="logo-container" href="/">
        <img src="https://imgs.search.brave.com/ruD94iNhT4-dcL8jQR-YELW0ad94Hf-03sN-4bIOuTc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jb21w/YW5pZXNsb2dvLmNv/bS9pbWcvb3JpZy9N/RUxJLWVjMGMwZTRm/LnBuZz90PTE3MjAy/NDQ0OTI" alt="logo">
        <span>Mercadito DB</span>
    </a>
    <div>
        <button id="cart-button"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #000000;"></i>​</button>
    </div>
</nav>

<div id="cart-container" class="hidden">
    <h2>Carrito de Compras</h2>
    <div id="cart-items"></div>
    <p>Total: $<span id="cart-total">0</span></p>
    <button id="clear-cart">Vaciar Carrito</button>
</div>

<div id="detail-container">
    <img src="{{product.thumbnail}}" alt="{{product.title}}">
    <div id="detail-info">
        <h1>{{product.title}}</h1>
        <p>{{product.description}}</p>
        <h2>Stock: {{product.stock}}</h2>
        <h2>Precio:<span id="price-container">${{product.price}}</span></h2>
    </div>
</div>

<a id="back-to-home" href="/">Volver a la tienda</a>

<script src="\js\productsDetail.js"></script>
<script src="js/home.js" type="module"></script>